{% extends "base_site.html" %}

{% block title %} About {% endblock title %}

{% block stylesheets %}
	<style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
	</style>
{% endblock stylesheets %}

{% block content %}
    <!-- Inne Page Banner Area Start Here -->
    <section class="inner-page-banner bg-common" data-bg-image="/static/assets/img/daba_nettoyage/images/propos.jpg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs-area">
                        <h1>A Propos</h1>
                        <ul>
                            <li>
                                <a href="{{ url_for('site_blueprint.home_page') }}">Home</a>
                            </li>
                            <li>A Propos</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Inne Page Banner Area End Here -->
    <!-- About Us Area Start Here -->
    <section class="section-padding-12-9">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-box-layout1">
                        <div class="item-tag">À propos</div>
                        <h2 class="item-title">DABA W DIMA</h2>
                        <p>
                            "Chez DABA NETTOYAGE, nous croyons que chaque espace mérite un nettoyage 
                            de qualité supérieure. Avec notre équipe d'experts formés et nos équipements 
                            modernes, nous offrons un service rapide, efficace et approfondi. 
                            Nous nous dévouons à maintenir et à restituer la propreté et l'hygiène 
                            de vos locaux.".
                        </p>
                        <div class="list-item">
                            <ul>
                                <h3>Pourquoi nous choisir ?</h3>
                                <li>                                    
                                    <p>
                                        <span class="g-size">Tarification Compétitive:</span> Notre structure tarifaire 
                                        est conçue pour offrir un excellent rapport qualité-prix, 
                                        faisant de nous l'un des prestataires les plus compétitifs sur le marché.
                                    </p>                                        
                                </li>
                                <li>                                    
                                    <p>
                                        <span class="g-size">Adaptabilité:</span> Selon la nature de l'intervention, 
                                        nous déployons le nombre adéquat d'agents pour répondre à vos besoins.
                                    </p>                                        
                                </li>
                                <li>                                    
                                    <p>
                                        <span class="g-size">Interventions Régulières:</span> Nous planifions nos services 
                                        selon les horaires qui conviennent le mieux à nos clients, 
                                        offrant ainsi une flexibilité sans pareille .
                                    </p>                                        
                                </li>
                                <li>                                    
                                    <p>
                                        <span class="g-size">Protocole de Désinfection:</span> La désinfection est au cœur 
                                        de notre processus, garantissant un environnement propre et sain.
                                    </p>                                        
                                </li>
                                <li>                                    
                                    <p>
                                        <span class="g-size">Respect des Délais:</span> Nous nous engageons à respecter 
                                        les délais convenus, permettant une reprise rapide de vos activités.
                                    </p>                                        
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-box-layout6">
                        <div class="item-img">
                            <img src="/static/assets/img/daba_nettoyage/images/propo_01.jpg" alt="thumb">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Us Area End Here -->
{% endblock %}

{% block javascripts %}

{% endblock %}