{% extends "base_site.html" %}

{% block title %} Contact {% endblock title %}

{% block stylesheets %}
     <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
{% endblock stylesheets %}

{% block content %}
    <!-- Inne Page Banner Area Start Here -->
    <section class="inner-page-banner bg-common"  data-bg-image="https://img.freepik.com/photos-gratuite/jeune-belle-fille-tablier-gants-caoutchouc-montrant-smartphone-pointant-doigt-vers-lui-souriant-joyeusement_141793-28476.jpg?w=996&t=st=1688986158~exp=1688986758~hmac=4727700117ae3492eb74966eb1232a6d84e4c357ac762aa137bbd646bc63a9fc">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs-area">
                        <h1>Contact Us</h1>
                        <ul>
                            <li>
                                <a href="{{ url_for('site_blueprint.home_page') }}">Home</a>
                            </li>
                            <li>Contact</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Inne Page Banner Area End Here -->
    <!-- Blog Area Start Here -->
    <section class="section-padding-12-10">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="contact-box-layout1">
                        <div class="google-map-area">
                            <iframe id="googleMap" class="google-map" style="width:100%; height:420px; border-radius: 4px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3324.267458661954!2d-7.619942287637998!3d33.57240431201304!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda7d2aff454806f%3A0x81d3ded1d0045efd!2s93%20Rue%20Abou%20Al%C3%A2a%20Zahr%2C%20Casablanca%2020360!5e0!3m2!1sfr!2sma!4v1664976358912!5m2!1sfr!2sma" frameborder="0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                        <div class="contact-info">
                            <div class="media media-none-lg media-none--sm">
                                <div class="item-icon">
                                    <i class="flaticon-call-answer"></i>
                                </div>
                                <div class="media-body space-md">
                                    <h4>Téléphone:</h4>
                                    <ul>
                                        <li>+212 703 202 130</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="media media-none-lg media-none--sm">
                                <div class="item-icon">
                                    <i class="flaticon-message"></i>
                                </div>
                                <div class="media-body space-md">
                                    <h4>E-mail:</h4>
                                    <ul>
                                        <li>contact@dabanettoyage.com</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="media media-none-lg media-none--sm">
                                <div class="item-icon">
                                    <i class="flaticon-maps-and-flags"></i>
                                </div>
                                <div class="media-body space-md">
                                    <h4>Adresse:</h4>
                                    <ul>
                                        <li>Rue Liberte CASABLANCA</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 sidebar-break-md sidebar-widget-area">
                    <div class="widget widget-contact-form">
                        <div class="heading-layout4">
                            <h4>Avez-vous une question?</h4>
                        </div>
                        <form class="contact-form-box" id="contact-form">
                            <div class="row">
                                <div class="col-12 form-group">
                                    <div class="form-icon"><i class="fas fa-user"></i></div>
                                    <input type="text" placeholder="Nom et Prénom" class="form-control" name="name" data-error="Name field is required" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="col-12 form-group">
                                    <div class="form-icon"><i class="far fa-envelope"></i></div>
                                    <input type="email" placeholder="E-mail" class="form-control" name="email" data-error="email field is required" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="col-12 form-group">
                                    <div class="form-icon"><i class="fas fa-phone-volume"></i></div>
                                    <input type="text" placeholder="Téléphone" class="form-control" name="phone" data-error="Phone field is required" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="col-12 form-group">
                                    <div class="form-icon"><i class="fas fa-question"></i></div>
                                    <input type="text" placeholder="Sujet" class="form-control" name="phone" data-error="Phone field is required" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="col-12 form-group">
                                    <div class="form-icon"><i class="far fa-comments"></i></div>
                                    <textarea placeholder="Adresse" class="textarea form-control" name="message" id="form-message" rows="4" cols="20" 
                                    data-error="Message field is required" required></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="col-12 form-group">
                                    <button type="submit" class="fw-btn-fill bg-accent text-primarytext">Envoyer Message</button>
                                </div>
                            </div>
                            <div class="form-response"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Area End Here -->

{% endblock %}

{% block javascripts %}

{% endblock %}