{% extends "base_site.html" %}

{% block title %} Services {% endblock title %}

{% block stylesheets %}
     <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
{% endblock stylesheets %}

{% block content %}
<section class="inner-page-banner bg-common" data-bg-image="/static/assets/img/daba_nettoyage/page1.png">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs-area">
                    <h1>DABA NETTOYAGE AUX SERVICE</h1>
                    <ul>
                        <li>
                            <a href="{{ url_for('site_blueprint.home_page') }}">Home</a>
                        </li>
                        <li>Nos Services</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-padding-12-9 bg-assh">
    <div class="container">
        <h1 class="text-center">Nos Services</h1>
        <h2 class="text-center">Nettoyage – Désinfection - Entretien </h2>
        <div class="row">            
            <div class="col-lg-6">
                <div class="service-box-layout3">
                    <div class="media media-none--xs">
                        <div class="item-icon">
                            <!-- <i class="flaticon-tower"></i>  -->                            
                            <img src="/static/assets/img/daba_nettoyage/workplace.png" alt="thumb">                         
                        </div>
                        <div class="media-body">
                            <h3 class="item-title"><a href="single-service1.html">BUREAUX ET ESPACES PROFESSIONNELS
                            </a></h3>
                            <p>Bero eos et accusamus et iusto odio digniss aw imos ducimus 
                                qui blanditiis praesentium modervolup service avalable watum.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="service-box-layout3">
                    <div class="media media-none--xs">
                        <div class="item-icon">
                            <!-- <i class="flaticon-clean-3"></i>  -->
                            <img src="/static/assets/img/daba_nettoyage/sanitary.png" alt="thumb">                         
                        </div>
                        <div class="media-body">
                            <h3 class="item-title"><a href="single-service1.html">CABINETS<br> MÉDICAUX</a></h3>
                            <p>Bero eos et accusamus et iusto odio digniss aw imos ducimus 
                                qui blanditiis praesentium modervolup service avalable watum.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="service-box-layout3">
                    <div class="media media-none--xs">
                        <div class="item-icon">
                            <!-- <i class="flaticon-dishwasher"></i> -->
                            <img src="/static/assets/img/daba_nettoyage/building.png" alt="thumb">                            
                        </div>
                        <div class="media-body">
                            <h3 class="item-title"><a href="single-service1.html"> IMMEUBLES ET PARTIES COMMUNES</a></h3>
                            <p>Bero eos et accusamus et iusto odio digniss aw imos ducimus 
                                qui blanditiis praesentium modervolup service avalable watum.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="service-box-layout3">
                    <div class="media media-none--xs">
                        <div class="item-icon">
                            <!-- <i class="flaticon-shower"></i> -->
                            <img src="/static/assets/img/daba_nettoyage/lodge.png" alt="thumb">
                        </div>
                        <div class="media-body">
                            <h3 class="item-title"><a href="single-service1.html">MAISONS<br> D'HÔTE</a></h3>
                            <p>Bero eos et accusamus et iusto odio digniss aw imos ducimus 
                                qui blanditiis praesentium modervolup service avalable watum.</p>
                        </div>
                    </div>
                </div>
            </div>   
            <div class="col-lg-6">
                <div class="service-box-layout3">
                    <div class="media media-none--xs">
                        <div class="item-icon">
                            <!-- <i class="flaticon-shower"></i> -->
                            <img src="/static/assets/img/daba_nettoyage/appartments.png" alt="thumb">                              
                        </div>
                        <div class="media-body">
                            <h3 class="item-title"><a href="single-service1.html">APPARTEMENTS DE LOCATION COURTE DURÉE</a></h3>
                            <p>Bero eos et accusamus et iusto odio digniss aw imos ducimus 
                                qui blanditiis praesentium modervolup service avalable watum.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="service-box-layout3">
                    <div class="media media-none--xs">
                        <div class="item-icon">
                            <!-- <i class="flaticon-sports-car"></i> -->
                            <img src="/static/assets/img/daba_nettoyage/broom.png" alt="thumb">
                        </div>
                        <div class="media-body">
                            <h3 class="item-title"><a href="single-service1.html">AVANT OU APRÈS DÉMÉNAGEMENT</a></h3>
                            <p>Bero eos et accusamus et iusto odio digniss aw imos ducimus 
                                qui blanditiis praesentium modervolup service avalable watum.</p>
                        </div>
                    </div>
                </div>
            </div>                     
            <div class="col-lg-6">
                <div class="service-box-layout3">
                    <div class="media media-none--xs">
                        <div class="item-icon">
                            <!-- <i class="flaticon-brush"></i> -->
                            <img src="/static/assets/img/daba_nettoyage/house.png" alt="thumb">
                        </div>
                        <div class="media-body">
                            <h3 class="item-title"><a href="single-service1.html">FIN CHANTIER</a></h3>
                            <p>Bero eos et accusamus et iusto odio digniss aw imos ducimus 
                                qui blanditiis praesentium modervolup service avalable watum.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="service-box-layout3">
                    <div class="media media-none--xs">
                        <div class="item-icon">
                            <!-- <i class="flaticon-clean"></i> -->
                            <img src="/static/assets/img/daba_nettoyage/sofa.png" alt="thumb">
                        </div>
                        <div class="media-body">
                            <h3 class="item-title"><a href="single-service1.html"> CHAISES ET CANAPÉS</a></h3>
                            <p>Bero eos et accusamus et iusto odio digniss aw imos ducimus 
                                qui blanditiis praesentium modervolup service avalable watum.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="service-box-layout3">
                    <div class="media media-none--xs">
                        <div class="item-icon">
                            <!-- <i class="flaticon-shower"></i> -->
                            <img src="/static/assets/img/daba_nettoyage/carpet.png" alt="thumb">
                        </div>
                        <div class="media-body">
                            <h3 class="item-title"><a href="single-service1.html"> MOQUETTES COLLÉES ET TAPIS</a></h3>
                            <p>Bero eos et accusamus et iusto odio digniss aw imos ducimus 
                                qui blanditiis praesentium modervolup service avalable watum.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="service-box-layout3">
                    <div class="media media-none--xs">
                        <div class="item-icon">
                            <!-- <i class="flaticon-brush"></i> -->
                            <img src="/static/assets/img/daba_nettoyage/curtain.png" alt="thumb">
                        </div>
                        <div class="media-body">
                            <h3 class="item-title"><a href="single-service1.html">SURFACES VITRÉES ET STORES</a></h3>
                            <p>Bero eos et accusamus et iusto odio digniss aw imos ducimus 
                                qui blanditiis praesentium modervolup service avalable watum.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="service-box-layout3">
                    <div class="media media-none--xs">
                        <div class="item-icon">
                            <!-- <i class="flaticon-clean"></i> -->
                            <img src="/static/assets/img/daba_nettoyage/wet-floor.png" alt="thumb">
                        </div>
                        <div class="media-body">
                            <h3 class="item-title"><a href="single-service1.html">SOLS (MARBRE, PARQUET,...)</a></h3>
                            <p>Bero eos et accusamus et iusto odio digniss aw imos ducimus 
                                qui blanditiis praesentium modervolup service avalable watum.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}

{% endblock %}