{% extends "base_site.html" %}

{% block title %} Services {% endblock title %}

{% block stylesheets %}
     <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
{% endblock stylesheets %}

{% block content %}
<section class="inner-page-banner bg-common" data-bg-image="https://img.freepik.com/photos-gratuite/texte-nettoyage-entoure-equipements-tableau-noir_23-2147860465.jpg?w=996&t=st=1688986438~exp=1688987038~hmac=cf14296769a8d6dc33168809e1de0fee72f96c64a0d79d7bb51492beb632f957">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs-area">
                    <h3 style="color: rgb(33, 159, 213);">DABA NETTOYAGE AUX SERVICE DE L’ENTREPRISE  QUE CA SOIT POUR UN NETTOYAGE</h3>
                    <ul>
                        <li>
                            <a href="{{ url_for('site_blueprint.home_page') }}">Home</a>
                        </li>
                        <li>Nos Services</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-padding-12-9 bg-assh">
    <div class="container">
        <h1 class="text-center">Nos Services</h1>
        <h2 class="text-center">Nettoyage – Désinfection - Entretien </h2>
        <div class="row">            
            <div class="col-lg-6">
                <div class="service-box-layout3">
                    <div class="media media-none--xs">
                        <div class="item-icon">
                            <i class="flaticon-clean-3"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="item-title"><a href="single-service1.html">BUREAUX ET ESPACES PROFESSIONNELS
                            </a></h3>
                            <p>Bero eos et accusamus et iusto odio digniss aw imos ducimus 
                                qui blanditiis praesentium modervolup service avalable watum.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="service-box-layout3">
                    <div class="media media-none--xs">
                        <div class="item-icon">
                            <i class="flaticon-tower"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="item-title"><a href="single-service1.html">CABINETS MÉDICAUX</a></h3>
                            <p>Bero eos et accusamus et iusto odio digniss aw imos ducimus 
                                qui blanditiis praesentium modervolup service avalable watum.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="service-box-layout3">
                    <div class="media media-none--xs">
                        <div class="item-icon">
                            <i class="flaticon-dishwasher"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="item-title"><a href="single-service1.html"> IMMEUBLES ET PARTIES COMMUNES</a></h3>
                            <p>Bero eos et accusamus et iusto odio digniss aw imos ducimus 
                                qui blanditiis praesentium modervolup service avalable watum.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="service-box-layout3">
                    <div class="media media-none--xs">
                        <div class="item-icon">
                            <i class="flaticon-shower"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="item-title"><a href="single-service1.html">APPARTEMENTS DE LOCATION COURTE DURÉE</a></h3>
                            <p>Bero eos et accusamus et iusto odio digniss aw imos ducimus 
                                qui blanditiis praesentium modervolup service avalable watum.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="service-box-layout3">
                    <div class="media media-none--xs">
                        <div class="item-icon">
                            <i class="flaticon-shower"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="item-title"><a href="single-service1.html">APPARTEMENTS DE LOCATION COURTE DURÉE</a></h3>
                            <p>Bero eos et accusamus et iusto odio digniss aw imos ducimus 
                                qui blanditiis praesentium modervolup service avalable watum.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="service-box-layout3">
                    <div class="media media-none--xs">
                        <div class="item-icon">
                            <i class="flaticon-sports-car"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="item-title"><a href="single-service1.html">AVANT OU APRÈS DÉMÉNAGEMENT</a></h3>
                            <p>Bero eos et accusamus et iusto odio digniss aw imos ducimus 
                                qui blanditiis praesentium modervolup service avalable watum.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="service-box-layout3">
                    <div class="media media-none--xs">
                        <div class="item-icon">
                            <i class="flaticon-brush"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="item-title"><a href="single-service1.html">FIN CHANTIER</a></h3>
                            <p>Bero eos et accusamus et iusto odio digniss aw imos ducimus 
                                qui blanditiis praesentium modervolup service avalable watum.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="service-box-layout3">
                    <div class="media media-none--xs">
                        <div class="item-icon">
                            <i class="flaticon-clean"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="item-title"><a href="single-service1.html"> CHAISES ET CANAPÉS</a></h3>
                            <p>Bero eos et accusamus et iusto odio digniss aw imos ducimus 
                                qui blanditiis praesentium modervolup service avalable watum.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="service-box-layout3">
                    <div class="media media-none--xs">
                        <div class="item-icon">
                            <i class="flaticon-shower"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="item-title"><a href="single-service1.html"> MOQUETTES COLLÉES ET TAPIS</a></h3>
                            <p>Bero eos et accusamus et iusto odio digniss aw imos ducimus 
                                qui blanditiis praesentium modervolup service avalable watum.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="service-box-layout3">
                    <div class="media media-none--xs">
                        <div class="item-icon">
                            <i class="flaticon-brush"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="item-title"><a href="single-service1.html">SURFACES VITRÉES ET STORES</a></h3>
                            <p>Bero eos et accusamus et iusto odio digniss aw imos ducimus 
                                qui blanditiis praesentium modervolup service avalable watum.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="service-box-layout3">
                    <div class="media media-none--xs">
                        <div class="item-icon">
                            <i class="flaticon-clean"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="item-title"><a href="single-service1.html">SOLS (MARBRE, PARQUET,...)</a></h3>
                            <p>Bero eos et accusamus et iusto odio digniss aw imos ducimus 
                                qui blanditiis praesentium modervolup service avalable watum.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}

{% endblock %}