{% extends "base_site.html" %}

{% block title %} Services {% endblock title %}

{% block stylesheets %}
     <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
{% endblock stylesheets %}

{% block content %}
<section class="inner-page-banner bg-common" data-bg-image="/static/assets/img/daba_nettoyage/images/services_gradien.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs-area">
                    <h1>DABA NETTOYAGE AUX SERVICE</h1>
                    <ul>
                        <li>
                            <a href="{{ url_for('site_blueprint.home_page') }}">Home</a>
                        </li>
                        <li>Nos Services</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-padding-12-9 bg-assh">
    <div class="container">
        <h1 class="text-center">Nos Services</h1>
        <h2 class="text-center g-2">Nettoyage  &nbsp;&nbsp; Désinfection &nbsp;&nbsp; Entretien </h2>
        <div class="row">            
            <div class="col-lg-6">
                <div class="service-box-layout3">
                    <div class="media media-none--xs">
                        <div class="item-icon">
                            <!-- <i class="flaticon-tower"></i>  -->                            
                            <img src="/static/assets/img/daba_nettoyage/workplace.png" alt="thumb">                         
                        </div>
                        <div class="media-body">
                            <h3 class="item-title"><a>BUREAUX ET ESPACES PROFESSIONNELS</a></h3>                            
                            <p>Nettoyage minutieux d'espaces professionnels pour garantir un environnement de travail optimal. Des méthodes adaptées aux différents matériaux et besoins spécifiques des entreprises.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="service-box-layout3">
                    <div class="media media-none--xs">
                        <div class="item-icon">
                            <!-- <i class="flaticon-clean-3"></i>  -->
                            <img src="/static/assets/img/daba_nettoyage/sanitary.png" alt="thumb">                         
                        </div>
                        <div class="media-body">
                            <h3 class="item-title"><a>CABINETS<br> MÉDICAUX</a></h3>
                            <p>Application de normes d'hygiène strictes adaptées aux environnements médicaux, garantissant la désinfection et la sécurité des espaces.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="service-box-layout3">
                    <div class="media media-none--xs">
                        <div class="item-icon">
                            <!-- <i class="flaticon-dishwasher"></i> -->
                            <img src="/static/assets/img/daba_nettoyage/cafe.png" alt="thumb">                            
                        </div>
                        <div class="media-body">
                            <h3 class="item-title"><a>RESTAURANTS ET CAFES</a></h3>
                            <p>Nettoyage approfondi des espaces de restauration, garantissant l'hygiène nécessaire pour un environnement alimentaire sain.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="service-box-layout3">
                    <div class="media media-none--xs">
                        <div class="item-icon">
                            <!-- <i class="flaticon-dishwasher"></i> -->
                            <img src="/static/assets/img/daba_nettoyage/ecole.png" alt="thumb">                            
                        </div>
                        <div class="media-body">
                            <h3 class="item-title"><a>ECOLES ET ESPACES EDUCATIFS</a></h3>
                            <p>Services de nettoyage adaptés aux établissements éducatifs, assurant un environnement propre et sain pour le corps enseignant et les étudiants.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="service-box-layout3">
                    <div class="media media-none--xs">
                        <div class="item-icon">
                            <!-- <i class="flaticon-dishwasher"></i> -->
                            <img src="/static/assets/img/daba_nettoyage/building.png" alt="thumb">                            
                        </div>
                        <div class="media-body">
                            <h3 class="item-title"><a> IMMEUBLES ET PARTIES COMMUNES</a></h3>
                            <p>Entretien régulier des zones communes pour assurer une présentation soignée et respecter les normes de sécurité des résidents.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="service-box-layout3">
                    <div class="media media-none--xs">
                        <div class="item-icon">
                            <!-- <i class="flaticon-shower"></i> -->
                            <img src="/static/assets/img/daba_nettoyage/lodge.png" alt="thumb">
                        </div>
                        <div class="media-body">
                            <h3 class="item-title"><a>MAISONS RÉSIDENTIELLES</a></h3>
                            <p>Services adaptés à la maintenance résidentielle, assurant un entretien régulier et des interventions spécifiques selon les besoins.</p>
                        </div>
                    </div>
                </div>
            </div>   
            <div class="col-lg-6">
                <div class="service-box-layout3">
                    <div class="media media-none--xs">
                        <div class="item-icon">
                            <!-- <i class="flaticon-shower"></i> -->
                            <img src="/static/assets/img/daba_nettoyage/appartments.png" alt="thumb">                              
                        </div>
                        <div class="media-body">
                            <h3 class="item-title"><a>APPARTEMENTS DE LOCATION COURTE DURÉE</a></h3>
                            <p>Préparation efficace des logements pour les locations, assurant une propreté conforme aux standards élevés de l'industrie hôtelière.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="service-box-layout3">
                    <div class="media media-none--xs">
                        <div class="item-icon">
                            <!-- <i class="flaticon-sports-car"></i> -->
                            <img src="/static/assets/img/daba_nettoyage/broom.png" alt="thumb">
                        </div>
                        <div class="media-body">
                            <h3 class="item-title"><a>AVANT OU APRÈS DÉMÉNAGEMENT</a></h3>
                            <p>Services adaptés aux transitions, garantissant une préparation ou une finalisation efficiente des espaces.</p>
                        </div>
                    </div>
                </div>
            </div>                     
            <div class="col-lg-6">
                <div class="service-box-layout3">
                    <div class="media media-none--xs">
                        <div class="item-icon">
                            <!-- <i class="flaticon-brush"></i> -->
                            <img src="/static/assets/img/daba_nettoyage/house.png" alt="thumb">
                        </div>
                        <div class="media-body">
                            <h3 class="item-title"><a>FIN CHANTIER</a></h3>
                            <p>Nettoyage post-construction pour assurer la remise en état des lieux, éliminant les résidus et débris.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="service-box-layout3">
                    <div class="media media-none--xs">
                        <div class="item-icon">
                            <!-- <i class="flaticon-clean"></i> -->
                            <img src="/static/assets/img/daba_nettoyage/sofa.png" alt="thumb">
                        </div>
                        <div class="media-body">
                            <h3 class="item-title"><a> CHAISES ET CANAPÉS</a></h3>
                            <p>Nettoyage en profondeur des meubles rembourrés, utilisant des techniques et produits spécifiques pour préserver leur intégrité.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="service-box-layout3">
                    <div class="media media-none--xs">
                        <div class="item-icon">
                            <!-- <i class="flaticon-shower"></i> -->
                            <img src="/static/assets/img/daba_nettoyage/carpet.png" alt="thumb">
                        </div>
                        <div class="media-body">
                            <h3 class="item-title"><a> MOQUETTES COLLÉES ET TAPIS</a></h3>
                            <p>Entretien et nettoyage en profondeur des revêtements de sol souples, prolongeant leur durée de vie et préservant leur apparence.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="service-box-layout3">
                    <div class="media media-none--xs">
                        <div class="item-icon">
                            <!-- <i class="flaticon-brush"></i> -->
                            <img src="/static/assets/img/daba_nettoyage/curtain.png" alt="thumb">
                        </div>
                        <div class="media-body">
                            <h3 class="item-title"><a>SURFACES VITRÉES ET STORES</a></h3>
                            <p>Nettoyage précis des éléments vitrés, garantissant clarté et propreté. Entretien régulier des stores pour une meilleure longévité.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="service-box-layout3">
                    <div class="media media-none--xs">
                        <div class="item-icon">
                            <!-- <i class="flaticon-clean"></i> -->
                            <img src="/static/assets/img/daba_nettoyage/wet-floor.png" alt="thumb">
                        </div>
                        <div class="media-body">
                            <h3 class="item-title"><a>SOLS (MARBRE, PARQUET,...)</a></h3>
                            <p>Services spécialisés selon le type de sol, préservant la qualité des matériaux et garantissant un aspect renouvelé.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="service-box-layout3">
                    <div class="media media-none--xs">
                        <div class="item-icon">
                            <!-- <i class="flaticon-clean"></i> -->
                            <img src="/static/assets/img/daba_nettoyage/BESOINS.png" alt="thumb">
                        </div>
                        <div class="media-body">
                            <h3 class="item-title"><a>BESOINS PARTICULIERS</a></h3>
                            <p>Interventions adaptées pour situations exceptionnelles, comme nettoyage post-sinistre ou déversements. Expertise et diligence à chaque demande.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}

{% endblock %}