<!-- Footer Area Start Here -->
    <footer class="footer-wrap-layout1 section-shape1">
        <div class="container">
            <div class="footer-top-box">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="footer-box-layout1">
                            <div class="footer-title">                                
                                <a href="{{ url_for('site_blueprint.home_page') }}" class="temp-logo">
                                    <img src="/static/assets/img/dabaNettoyage_icon-removebg.png" alt="logo" class="img-fluid">
                                </a>
                            </div>
                            <div class="footer-menu-box">
                                <h3 style="color: white;">Daba w Dima</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="footer-box-layout1">
                            <div class="footer-title">
                                <h4>Entreprise</h4>
                            </div>
                            <div class="footer-menu-box">
                                <ul class="footer-menu-list">
                                    <li>
                                        <a href="{{ url_for('site_blueprint.home_page') }}">Accueil</a>
                                    </li>
                                    <li>
                                        <a href="{{ url_for('site_blueprint.about_page') }}">A propos</a>
                                    </li>
                                    <li>
                                        <a href="{{ url_for('site_blueprint.services_page') }}">Nos Services</a>
                                    </li>
                                    <li>
                                        <a href="{{ url_for('site_blueprint.contact_page') }}">Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="footer-box-layout1">
                            <div class="footer-title">
                                <h4>QUICK LINKS</h4>
                            </div>
                            <div class="footer-menu-box">
                                <ul class="footer-menu-list">
                                    <li>
                                        <a href="#">Features</a>
                                    </li>
                                    <li>
                                        <a href="#">Pricing</a>
                                    </li>
                                    <li>
                                        <a href="#">Partners</a>
                                    </li>
                                    <li>
                                        <a href="#">Cloud Affiliate Program</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="footer-box-layout1">
                            <div class="footer-title">
                                <h4>AFFILIATES</h4>
                            </div>
                            <div class="footer-menu-box">
                                <ul class="footer-menu-list">
                                    <li>
                                        <a href="#">Become An Affiliate</a>
                                    </li>
                                    <li>
                                        <a href="#">Affiliate Portal</a>
                                    </li>
                                    <li>
                                        <a href="#">Become An Affiliate</a>
                                    </li>
                                    <li>
                                        <a href="#">Affiliate Portal</a>
                                    </li>
                                </ul>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom-box">
                <div class="row">
                        <div class="copyright text-center">Copyright 2023 Konco. All Rights Reserved.</div>                    
                </div>
            </div>
        </div>
    </footer>
<!-- Footer Area End Here -->