<!-- Footer Area Start Here -->
    <footer class="footer-wrap-layout1 section-shape1">
        <div class="container">
            <div class="footer-top-box">
                <div class="row">
                    <div class="col-lg-6 col-sm-6">
                        <div class="footer-box-layout1">
                            <div class="footer-title">                                
                                <a href="{{ url_for('site_blueprint.home_page') }}" class="temp-logo">
                                    <img src="/static/assets/img/daba_nettoyage/images/dabanet_logo_white.png" alt="logo" class="img-fluid logo_footer">
                                </a>
                            </div>
                            <div class="footer-menu-box">
                                <h3 class="footer_h3">Daba w Dima</h3>
                                <p class="footer_p">Expertise professionnelle en nettoyage pour tous vos espaces. Équipe formée, technologies avancées, et tarifs compétitifs pour une propreté irréprochable. Votre satisfaction, notre priorité.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="footer-box-layout1">
                            <div class="footer-title">
                                <h4>Entreprise</h4>
                            </div>
                            <div class="footer-menu-box">
                                <ul class="footer-menu-list">
                                    <li>
                                        <a href="{{ url_for('site_blueprint.home_page') }}">Accueil</a>
                                    </li>
                                    <li>
                                        <a href="{{ url_for('site_blueprint.about_page') }}">A propos</a>
                                    </li>
                                    <li>
                                        <a href="{{ url_for('site_blueprint.services_page') }}">Nos Services</a>
                                    </li>
                                    <li>
                                        <a href="{{ url_for('site_blueprint.contact_page') }}">Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="footer-box-layout1">
                            <div class="footer-title">
                                <h4>QUICK LINKS</h4>
                            </div>
                            <div class="header-topbar-layout1">
                                <ul class="header-top-left">
                                    <li class="social-icon">
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        <a href="https://www.instagram.com/dabanettoyage.ma/"><i class="fab fa-instagram"></i></a>
                                        <!-- <a href="#"><i class="fab fa-youtube"></i></a> -->
                                        <a href="#"><i class="fab fa-linkedin"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom-box">
                <div class="row">
                        <div class="copyright text-center">Copyright 2023 Konco. All Rights Reserved.</div>                    
                </div>
            </div>
        </div>
    </footer>
<!-- Footer Area End Here -->