<!-- jquery-->
<script src="/static/assets/js/jquery-3.3.1.min.js"></script>
<!-- Plugins js -->
<script src="/static/assets/js/plugins.js"></script>
<!-- Popper js -->
<script src="/static/assets/js/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="/static/assets/js/bootstrap.min.js"></script>
<!-- MeanMenu js -->
<script src="/static/assets/js/jquery.meanmenu.min.js"></script> 
<!-- Nivo Slider js -->
<script src="/static/assets/vendor/slider/js/jquery.nivo.slider.js"></script> 
<script src="/static/assets/vendor/slider/home.js"></script> 
<!-- Owl Carousel js --> 
<script src="/static/assets/vendor/OwlCarousel/owl.carousel.min.js"></script> 
<!-- CounterUp js -->
<script src="/static/assets/js/jquery.counterup.min.js"></script> 
<!-- WayPoints js -->
<script src="/static/assets/js/waypoints.min.js"></script> 
<!-- Validator js -->
<script src="/static/assets/js/validator.min.js"></script>
<!-- Select 2 js -->
<script src="/static/assets/js/select2.min.js"></script>
<!-- Datetime Picker js -->
<script src="/static/assets/js/jquery.datetimepicker.full.min.js"></script>
<!-- Main js -->
<script src="/static/assets/js/main.js"></script>

{{ moment.include_moment() }}
